@media screen and (max-width: 480px) {
  body {
    background: lightgreen; } }

@media screen and (min-width: 481px) {
  body {
    background: lightpink; }
  .post-section {
    display: none; } }

@media screen and (min-width: 786px) {
  body {
    background: lightblue; } }

@media screen and (min-width: 1024px) {
  body {
    background: yellow; } }

/* Components */
* {
  box-sizing: border-box; }
