.clean-list {
  list-style-type: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.nav-setup {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  & li {
    margin: 5px 10px;
  }
}

.hidden {
 display:none;
}
 
.visible {
  visibility: visible;
}
