

.navigation {
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    @media screen and (min-width: $xs) {
        display: initial;
        
    }
}

.navigation {
    a:link {
        color: white;
        transition: all, 1s;
    }

    a:hover {
        border-top: 1px solid rgba(225,255,255, 0.6);
        border-bottom: 1px solid rgba(225,255,255, 0.6);
    }
}

.menu {
    .icon {
        @media screen and (min-width: $xs) {
                display: none;
          }
        }
    }
