
* {
  box-sizing: border-box;
}

// * {
//     border: 1px solid #f4f3f3;
// }

// Basic HTML elements


body {
  color: white;
  background: #550000;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

