// xs view - (mobile view)
// @media screen and (max-width: 480px) {
//   body {
//     background: lightgreen;
//   }
// }

// sm view port
@media screen and (min-width: 481px) {

  body {
      background: lightpink;
  }

}

// md view port
@media screen and (min-width: 786px) {
  body {
    background: lightblue;
  }
}

// lg view port
@media screen and (min-width: 1024px) {
  body {
    background: yellow;
  }
}
