* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: white;
  background: #550000;
  margin: 0; }

main {
  display: flex;
  flex-direction: column; }

/*----------  Playfair Font  ----------*/
@font-face {
  font-family: 'Playfair';
  src: url("../assets/fonts/playfair/PlayfairDisplay-Regular.ttf"); }

/*----------  Ubunto Font  ----------*/
@font-face {
  font-family: 'Ubunto';
  src: url("../assets/fonts/ubunto/Ubuntu-Light.ttf");
  font-weight: 400; }

.item-container {
  height: 80px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.6); }
  .item-container div {
    display: flex;
    align-items: center; }

.item-title {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.item-img img {
  width: 80px;
  max-width: 80px;
  max-height: 80px; }

.clean-list {
  list-style: none; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%; }

@media screen and (min-width: 481px) {
  body {
    background: lightpink; } }

@media screen and (min-width: 786px) {
  body {
    background: lightblue; } }

@media screen and (min-width: 1024px) {
  body {
    background: yellow; } }

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #801515; }

header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background: #801515; }
  header div {
    display: flex;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 480px) {
  header h1 {
    display: none; } }

header .icon {
  font-size: 2.1em;
  cursor: pointer; }

.search-container input::placeholder {
  color: rgba(255, 255, 255, 0.6); }

.search-container input {
  background: #D46A6A;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white; }

.about-container {
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex-column;
  background: pink; }
  .about-container .dev-container {
    display: flex-column;
    margin-top: 50px; }
    .about-container .dev-container h3 {
      display: flex;
      justify-content: flex-start;
      margin-left: 2em; }
    .about-container .dev-container h4 {
      display: flex;
      justify-content: flex-end;
      margin-right: 2em; }
    .about-container .dev-container img {
      display: flex;
      margin: auto; }
