@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #550000;
  margin: 0; }

main {
  display: flex;
  flex-direction: column; }

.hover:hover {
  cursor: pointer; }

a {
  text-decoration: none;
  color: white; }
  a:active {
    color: white; }

/*----------  Source Sans Pro  ----------*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url("assets/fonts/SourceSansPro/SourceSansPro-Black.ttf");
  font-weight: 400; }

.navigation {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px; }
  @media screen and (min-width: 400px) {
    .navigation {
      display: initial; } }

.navigation a:link {
  color: white;
  transition: all, 1s; }

.navigation a:hover {
  border-top: 1px solid rgba(225, 255, 255, 0.6);
  border-bottom: 1px solid rgba(225, 255, 255, 0.6); }

@media screen and (min-width: 400px) {
  .menu .icon {
    display: none; } }

@media screen and (min-width: 400px) {
  div.item-container {
    margin: 0.3em;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-around; } }

.item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.6); }
  .item-container div {
    display: flex;
    align-items: center; }

.item-container div:nth-last-of-type(1) {
  order: 3; }

.item-title {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.item-container {
  padding: 5px 10px;
  flex-grow: 1; }
  .item-container:hover {
    opacity: 0.5;
    border: 1px solid white; }
  .item-container .item-img {
    width: 80px;
    height: 80px;
    max-width: 100%;
    max-height: 100%; }
    @media screen and (min-width: 400px) {
      .item-container .item-img {
        width: 150px;
        height: 150px;
        margin: 1em 0; } }
    .item-container .item-img img {
      max-width: 100%;
      max-height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.6); }

@media screen and (min-width: 400px) {
  .content .items-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 3%; } }

.clean-list {
  list-style-type: none; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%; }

.nav-setup {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-setup li {
    margin: 5px 10px; }

.hidden {
  display: none; }

.visible {
  visibility: visible; }

@media screen and (min-width: 950px) {
  .container-wrap {
    width: 950px;
    max-width: 950px; } }

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #550000; }

header {
  width: 100%;
  padding: 1% 4%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: #801515;
  background: linear-gradient(to bottom, #a82b46 2%, #8f0222 56%, #801515 100%); }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center; }

header .header-container {
  width: 100%; }

header .icon {
  font-size: 2.1em;
  cursor: pointer; }

.search-container {
  width: 80%; }
  .search-container input::placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .search-container .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1em; }
    .search-container .title > * {
      margin: 0;
      padding: 0; }
  .search-container input {
    width: 80%;
    height: 2.3em;
    background: #D46A6A;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white; }

@media screen and (min-width: 400px) {
  header {
    padding: 0;
    justify-content: center; } }

.about-section {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #801515; }
  .about-section .card {
    padding: 2em 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .about-section h1 {
    text-align: center; }

.card .info {
  padding: 1em 2em; }

.card img {
  border: 2px solid white; }

.card:nth-child(odd) {
  flex-direction: row;
  justify-content: flex-start; }

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0; }

.contact-section .form-contact {
  display: flex;
  flex-direction: column;
  width: 80%; }
  .contact-section .form-contact form {
    display: flex;
    flex-direction: column; }
    .contact-section .form-contact form input, .contact-section .form-contact form textarea {
      margin: 20px 0;
      min-height: 50px;
      background: #550000;
      border: 1px solid rgba(255, 255, 255, 0.9); }
      .contact-section .form-contact form input::placeholder, .contact-section .form-contact form textarea::placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .contact-section .form-contact form input:hover, .contact-section .form-contact form textarea:hover {
        border: 1px solid white; }
      .contact-section .form-contact form input:focus, .contact-section .form-contact form textarea:focus {
        border: 1px solid #550000;
        background: #801515; }
    .contact-section .form-contact form input[type=submit] {
      width: 50%;
      background-color: #801515;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: 1px solid white;
      border-radius: 4px;
      cursor: pointer; }
      .contact-section .form-contact form input[type=submit]:active {
        background: lightcoral; }
      .contact-section .form-contact form input[type=submit]:hover {
        border: 1px solid #550000; }
